# Terraform
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl


# IDE / editor configs
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# OS files
.DS_Store
Thumbs.db
